:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-title::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}


/* Start Navbar */

.navbar {
    background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}

.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
}


/* End Navbar */


/*Start Heading*/

.heading {
    background-color: var(--dark-color);
}


/*End Heading*/


/*Start  Our Building */

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-box-front {
    background-color: #bbb;
    color: black;
}


/* Style the back side */

.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}


/*End  Our Building */


/*Start About US */

.about .description {
    max-width: 500px;
}


/*End About US */


/* Start Footer */

.footer {
    background-color: var(--dark-color);
}

.footer .copyright>span {
    color: var(--green-color);
}

.footer .contact ul svg {
    width: 20px;
    height: 20px;
}

.footer .facebook {
    background-color: #1877f2;
}

.footer .twitter {
    background-color: #1da1f2;
}

.footer .linkedin {
    background-color: #0077b5;
}

.footer .youtube {
    background-color: #ff0000;
}


/* End Footer */


/*Start login*/

body {
    background-color: #fbf3ff;
}

.login .container {
    position: absolute;
    max-width: 800px;
    height: 520px;
    margin: auto;
    margin-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login .myRightCtn {
    position: relative;
    background-image: linear-gradient(45deg, #19283f, #33d1cc);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .myLeftCtn {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
}

.login .myLeftCtn header {
    color: var(--dark-color);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.login .row {
    height: 100%;
}

.login .myCard {
    position: relative;
    background-color: #fff;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.login .myRightCtn header {
    color: #fff;
    font-size: 44px;
}

.login .box {
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
}

.login .myLeftCtn .myInput {
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20px;
    padding-left: 50px;
    border: none;
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.login .myLeftCtn .myInput:focus {
    outline: none;
}

.login .myForm {
    position: relative;
    margin-top: 50px;
}

.login .myLeftCtn .butt {
    background-image: linear-gradient(45deg, #19283f, #33d1cc);
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.login .myLeftCtn .butt:hover {
    background-image: linear-gradient(45deg, #1e314e, #2dbeba);
}


/*end login*/